@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #021526;
    --color-secundario: #E2E2B6;
    --color-terciario: #6EACDA;
    --color-hover: #03346E;

    --fuente-titulos: 'Krona One', sans-serif;
    --fuente-otros: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 15%;
}
.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-otros);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-titulos);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-otros);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-size: 24px;
}

.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid var(--color-terciario);
      width: 378px;
      text-align: center;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: var(--color-secundario);
      font-family: var(--fuente-otros);
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.lista {
    font-family: var(--fuente-otros);
    text-align: justify;
}

.lista li {
    margin-bottom: 10px;
}

.foto {
    width: 300px;
    height: auto;
    border: 5px solid var(--color-terciario);
    border-radius: 8px;
  }

.footer{
    color: var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-otros);
    font-size: 24px;
    font-weight: 400;
}

@media(max-width:1000px) {
    .header {
        padding: 2%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }
}
